:root {
    --diameter: 6rem;
    --circular-width: 1rem;
    --circle-background: #5bbead;
    --circle-line-color: #f2ebd3;
    --ex-line-color: #545454;
    --ex-line-length: 8.48528rem;
    --ex-line-width: 1rem;
}

.circle {
    position: absolute;
    width: var(--diameter);
    height: var(--diameter);
    /* background-color: red; */
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}

.circle__container {
    position: relative;
}

.circle__outer {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: var(--circle-line-color);

}

.circle__inner {
    position: absolute;
    top: var(--circular-width);
    left: var(--circular-width);
    width: calc(var(--diameter) - 2 * var(--circular-width));
    height: calc(var(--diameter) - 2 * var(--circular-width));
    background: var(--circle-background);
    border-radius: 50%;
}

.box {
    position: absolute;
    height: calc(var(--diameter)/2);
    width: calc(var(--diameter)/2);
    background: var(--color-primary);
}

.box-top-left {
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    animation: show-top-left .05s linear forwards;
}

.box-bottom-left {
    top: calc(var(--diameter)/2);
    left: 0;
    transform-origin: 100% 0;
    animation: show-bottom-left .05s linear .05s forwards; 
}

.box-bottom-right {
    top: calc(var(--diameter)/2);
    left: calc(var(--diameter)/2);
    transform-origin: 0 0;
    animation: show-bottom-right .05s linear .1s forwards; 
}

.box-top-right {
    top: 0;
    left: calc(var(--diameter)/2);
    transform-origin: 0 100%;
    animation: show-top-right .05s linear .15s forwards; 
    position: relative;
    z-index: 1;
}

@keyframes show-top-left {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
    }

    99.9% {
        height: calc(var(--diameter) / 2);
        width: calc(var(--diameter) / 2);
        transform: rotateZ(-90deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes show-bottom-left {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
    }

    99.9% {
        height: calc(var(--diameter) / 2);
        width: calc(var(--diameter) / 2);
        opacity: 1;
        transform: rotateZ(-90deg);
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes show-bottom-right {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
    }

    99.9% {
        height: calc(var(--diameter) / 2);
        width: calc(var(--diameter) / 2);
        transform: rotateZ(-90deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes show-top-right {
    0% {
        transform: skewY(0deg);
    }

    99.9% {
        height: calc(var(--diameter) / 2);
        width: calc(var(--diameter) / 2);
    }

    100% {
        transform: skewY(-90deg);
    }
}

.ex {
    position: absolute;
    width: var(--diameter);
    height: var(--diameter);
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}

.ex__container {
    position: relative;
}

.ex__left {
    width: var(--ex-line-width);
    height: var(--ex-line-length);
    background-color: black;
}   

.ex__right {
    width: var(--ex-line-width);
    height: var(--ex-line-length);
    background-color: black;
}