:root {
    --diameter: 7rem;
    --circular-width: 1rem;
    --background: black;
    --line-color: blue;
}

.circle {
    position: absolute;
    width: var(--diameter);
    height: var(--diameter);
    background-color: red;
}

.circle__container {
    position: relative;
}

.circle__outer {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: var(--line-color);

}

.circle__inner {
    position: absolute;
    top: var(--circular-width);
    left: var(--circular-width);
    width: calc(var(--diameter) - 2 * var(--circular-width));
    height: calc(var(--diameter) - 2 * var(--circular-width));
    background: var(--background);
    border-radius: 50%;
}

