:root {
    --diameter: 7rem;
    --circular-width: 1rem;
    --background: black;
    --line-color: blue;
}

.circle {
    position: absolute;
    width: var(--diameter);
    height: var(--diameter);
    background-color: red;
}

.circle__container {
    position: relative;
}

.circle__outer {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: var(--line-color);

}

.circle__inner {
    position: absolute;
    top: var(--circular-width);
    left: var(--circular-width);
    width: calc(var(--diameter) - 2 * var(--circular-width));
    height: calc(var(--diameter) - 2 * var(--circular-width));
    background: var(--background);
    border-radius: 50%;
}

.box {
    position: absolute;
    height: calc(var(--diameter)/2);
    width: calc(var(--diameter)/2);
    background: white;
}

.box-top-left {
    top: 0;
    left: 0;
}

.box-bottom-left {
    top: calc(var(--diameter)/2);
    left: 0;
}

.box-bottom-right {
    top: calc(var(--diameter)/2);
    left: calc(var(--diameter)/2);
}

.box-top-right {
    top: 0;
    left: calc(var(--diameter)/2);
}

@keyframes show-top-left {
    0% {
        transform: skewX(0deg);
    }

    99.9% {
        height: calc(var(--diameter) / 2);
        width: calc(var(--diameter) / 2);
    }

    100% {
        transform: skewX(90deg);
    }
}