:root {
    --color-primary: #5bbead;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70rem;
    height: 50rem;
    background-color: lightcoral;
}

.header {
    width: 100%;
}


.main {
    width: 100%;
}

.footer {
    width: 100%;
}