@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color-primary: #5bbead;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    font-size: 3rem;
    position: absolute;
    top: 3rem;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 70rem;
    height: 50rem;
    /* background-color: var(--color-primary); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #7c7c7c;
    border-radius: 2rem;
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: white;
}
.header__container--1 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
#mode, .header__share:hover {
    cursor: pointer;
}

.header__img {
    width: 2rem;
}

.header__container--2 {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.player {
    box-sizing: content-box;
    width: 14rem;
    height: 2rem;
    border-bottom: 2px solid var(--color-primary);
    box-shadow: 0rem .3rem 1rem rgba(0, 0, 0, .2);
    padding: .7rem 2.4rem;
    line-height: 2rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}
.player:hover {
    cursor: pointer;
}
.player__img {
    width: 2rem;
}
.player__score {
    font-size: 2rem;
}

.header__container--3 {

}
.header__choice-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #4a4a4a;
}


.main {
    width: 100%;
    position: relative;

}
.svg {
    width: 216px;
    color: red;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
.tabble {

}
.table__body {
    background-color: white;
}

.footer {
    width: 100%;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
}
.restart:hover {
    cursor: pointer;
}


/* start of footer */

footer {
    position: absolute;
    bottom: 1rem;
    padding: 4rem;
    text-align: center;
    font-size: 2rem;
    color: var(--color-text);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer a {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  footer img {
    width: 3rem;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 1rem;

  }

  footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
  }

/* end of footer */